*{
  margin: 0;
  padding: 0;
}

.hero{
  width: 100%;
  margin: auto;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.navbar{
  margin: 30px auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.navbar p{
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position:relative;
  left:80px; 
  bottom:12px;
}

.title .pink{
  color: rgb(232, 65, 93)
}

.title p{
  text-align: center;
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-top: 5%;
}

.upload-box{
  margin: auto;
  width: 50%;
  padding: 10px;
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px #000;
  border-color: #ffffff;
  border-radius: 27px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.upload-image{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.upload-image p{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F89B29;
  font-size: 12px;
  word-spacing: 0.5em;
}

/* ------------- PAGE 2 -----------------------*/

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #F89B29;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*----------------------PAGE 3-------------------------- */

img {
  width: 300px;
  height: 250px;
}

.choices {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 4%;
}

/*----------------------BUTTONS------------------ */
.button-orange {
  margin-bottom: 11px;
  width: 250px;
  align-items: center;
  background-color: #F89B29;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-orange:hover,
.button-orange:focus { 
  background-color: #f89b29c7;
  color: #ffffff;
}

.button-orange:active {
  background: #f89b29a0;
  color: rgb(255, 255, 255, .7);
}

.button-orange:disabled { 
  cursor: not-allowed;
  background: #F89B29;
  color: #F89B29;
}


.button-pink {
  margin-bottom: 11px;
  width: 250px;
  align-items: center;
  background-color: #FF0F7B;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-pink:hover,
.button-pink:focus { 
  background-color: #ff0f7baa;
  color: #ffffff;
}

.button-pink:active {
  background: #ff0f7bca;
  color: rgb(255, 255, 255, .7);
}

.button-pink:disabled { 
  cursor: not-allowed;
  background: #FF0F7B;
  color: #FF0F7B;
}