@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

* {
  margin: 0;
  padding: 0;
}

nav {
  padding-block: 1.625rem;
  padding-left: 4.313rem;
  box-shadow: 0px 4px 4px 0px #00000040;

  display: flex;
  align-items: center;
}

nav img {
  width: 30px;
  height: 30px;
}

nav p {
  font-family: Bayon;
  font-size: 36px;
  font-weight: 400;
  line-height: 65.04px;
  text-align: left;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 100px;
  font-family: Bayon;
  font-size: 46px;
  font-weight: 400;
  line-height: 83.11px;
  text-align: center;
}

.title .pink {
  color: #ff0f7b;
}

.upload-box {
  width: auto;
  min-width: 706px;
  height: auto;
  min-height: 419px;

  margin-top: 45px;
  padding: 20px;

  border-radius: 27px;
  box-shadow: 0px 0px 50px 12px #0000001a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: center;
}

.image-input-button {
  width: 340px;
  height: 60px;
  border-radius: 18px;
  background: #f89b29;

  color: #ffffff;

  display: grid;
  place-content: center;
}

.upload-box p {
  margin-top: 11px;
  color: #f89b29;
}

.upload-box {
}

/* ------------- PAGE 2 -----------------------*/

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #f89b29;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------------PAGE 3-------------------------- */

img {
  width: 300px;
  height: 250px;
}

.choices {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 4%;
}

/*----------------------BUTTONS------------------ */
.button-orange {
  margin-bottom: 11px;
  width: 250px;
  align-items: center;
  background-color: #f89b29;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-orange:hover,
.button-orange:focus {
  background-color: #f89b29c7;
  color: #ffffff;
}

.button-orange:active {
  background: #f89b29a0;
  color: rgb(255, 255, 255, 0.7);
}

.button-orange:disabled {
  cursor: not-allowed;
  background: #f89b29;
  color: #f89b29;
}

.button-pink {
  margin-bottom: 11px;
  width: 250px;
  align-items: center;
  background-color: #ff0f7b;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-pink:hover,
.button-pink:focus {
  background-color: #ff0f7baa;
  color: #ffffff;
}

.button-pink:active {
  background: #ff0f7bca;
  color: rgb(255, 255, 255, 0.7);
}

.button-pink:disabled {
  cursor: not-allowed;
  background: #ff0f7b;
  color: #ff0f7b;
}
